@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 204 0% 95%;
        --foreground: 204 0% 10%;
        --card: 204 0% 90%;
        --card-foreground: 204 0% 15%;
        --popover: 204 0% 95%;
        --popover-foreground: 204 95% 10%;
        --primary: 204 99% 39%;
        --primary-foreground: 0 0% 100%;
        --secondary: 204 10% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 166 10% 85%;
        --muted-foreground: 204 0% 40%;
        --accent: 166 10% 80%;
        --accent-foreground: 204 0% 15%;
        --destructive: 0 50% 42%;
        --destructive-foreground: 204 0% 90%;
        --border: 204 20% 50%;
        --input: 204 20% 42%;
        --ring: 204 99% 39%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 204 10% 10%;
        --foreground: 204 0% 90%;
        --card: 204 0% 10%;
        --card-foreground: 204 0% 90%;
        --popover: 204 10% 5%;
        --popover-foreground: 204 0% 90%;
        --primary: 204 99% 39%;
        --primary-foreground: 0 0% 100%;
        --secondary: 204 10% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 166 10% 25%;
        --muted-foreground: 204 0% 60%;
        --accent: 166 10% 25%;
        --accent-foreground: 204 0% 90%;
        --destructive: 0 50% 42%;
        --destructive-foreground: 204 0% 90%;
        --border: 204 20% 42%;
        --input: 204 20% 42%;
        --ring: 204 99% 39%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background font-sans text-foreground antialiased;
    }
}
