.clip-title {
  font: 16px Calibri, serif;
  font-weight: bold;
  color: #f5f5f5;
  text-align: left;
}

.clip-thumbnail {
  width: 276px;
  border-radius: 5px;
  height: 155px;
}

.clip-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
}

.clip-item:hover {
  background-color: rgba(87, 87, 87, 0.1);
  transition: 0.05s;
  color: black;
  cursor: pointer;
}
